* {
  margin: 0;
  max-width: 1440px;
}

main {
  display: grid;
  grid-template-columns: 180px 1fr;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.left-side {

}

.right-side {

}

/*=====================================================
      Nav-Bar Formatting
=======================================================*/

.nav-bar-main {
  width: 100%;
  height: 200vw;
  background: #374050;
  color: #acb5c5;
}

.profile {
  width: 100%;
  height: 180px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px #31384b;
  font-size: 13px;
  font-weight: 300;
}

.profile-div {
  width: 70px;
  height: 70px;
  background-image: url(../images/kip.jpg);
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  margin-bottom: 10px;
}

.name-menu {
  margin-top: 6px;
}

.main {
  width: 100%;
  height: 320px;
  border-bottom: solid 2px #31384b;
}

.main-header {
  margin: 20px 0 5px 20px;
  font-size: 14px;
  font-weight: 300;
  color: #586275;
}

.main-list {
  list-style-type: none;
  padding: 0;
}

.nav-icon {
  margin-right: 6px;
}

.nav-item {
  border: solid 4px #374050;
  height: 40px;
  font-size: 14px;
  margin-top: 7px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.nav-item:hover {
  border-left: solid 4px #fd2c7a;
  color: #fff;
  background: #313949;
  cursor: pointer;
}

.community {
  width: 100%;
  height: 320px;
  border-bottom: solid 2px #31384b;
}

.community-header {
  margin: 20px 0 5px 20px;
  font-size: 14px;
  font-weight: 300;
  color: #586275;
}

.community-list {
  list-style-type: none;
  padding: 0;
}

.type {
  width: 100%;
  height: 240px;
  background-color: transparent;
}

.type-header {
  margin: 20px 0 10px 20px;
  font-size: 14px;
  font-weight: 300;
  color: #586275;
}

.form {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.form-text {
  font-size: 13px;
  padding-top: 2px;
}

.checkbox {
  -webkit-appearance: none;
	background-color: #54aff6;
  padding: 8px;
  margin: 10px 0 10px 20px;
	border-radius: 3px;
	display: inline-block;
  position: relative;
  outline: none;
}

.checkbox:checked {
  background-color: #54aff6;
  outline: none;
}

.checkbox:checked:after {
  content: '\2714';
	font-size: 12px;
	position: absolute;
	top: 0px;
	left: 3px;
  color: #374050;
  outline: none;
}

.checkbox-women {
  background: pink;
}

.checkbox-women:checked {
  background: pink;
}

.checkbox-both {
  background: rgb(160, 100, 160);
}

.checkbox-both:checked {
  background: rgb(160, 100, 160);
}

.checkbox-neither {
  background: #ffb24b;
}

.checkbox-neither:checked {
  background: #ffb24b;
}

.form-text{
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
}



/*=====================================================
      Search-Bar Formatting
=======================================================*/

.search-bar {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 60px 1fr 60px 60px 60px;
  border: solid 1px #f1f3f5;
  color: #afb4bb;
}

.search-bar-button {
  font-size: 20px;
}

.access-nav-bar {
  width: 100%;
  height: 60px;
  background: #fff;
  margin: 0;
  border: solid 1px #f1f3f5;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none; 
  color: #afb4bb;
}

.access-nav-bar:hover {
  color: #fff;
  border: none;
  background: #fd2c7a;
}

.search-bar-bar {
  width: 100%;
  height: 60px;
  outline-color: #fd2c7a;
  color: #afb4bb;
}

.home {
  width: 100%;
  height: 60px;
  background: #fff;
  border: solid 1px #f1f3f5;
  outline: none;
  color: #afb4bb;
}

.home:hover {
  background: #fd2c7a;
  color: #fff;
  border: none;
}

.messages {
  width: 100%;
  height: 60px;
  background: #fff;
  border: solid 1px #f1f3f5;
  outline: none; 
  color: #afb4bb;
}

.messages:hover {
  background: #fd2c7a;
  color: #fff;
  border: none;
}

.matches {
  width: 60px;
  height: 60px;
  background: #fff;
  border: solid 1px #f1f3f5;
  outline: none;
  color: #afb4bb;
}

.matches:hover {
  background: #fd2c7a;
  color: #fff;
  border: none;
}


/*=====================================================
      Info Formatting
=======================================================*/

.info {
  width: 100%;
  height: 200px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-top {
  display: flex;
  justify-content: space-between;
}

.info-info {
  margin: 40px 0 0 30px;
}

.info-header {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 26px;
  color: #68686a;
}

.info-sub-header {
  color: #bfc0c5;
  font-size: 14px;
}

.preview-link {
  text-decoration: none;
  color: #fd2c7a;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 40px 0 0 0;
}

.info-button {
  -webkit-appearance: none;
  display: inline-block;
}

.info-button:hover {
  background-color: #fd2c7a;
  color: #fff;
}

.open-button {
  height: 30px;
  font-size: 12px;
  color: #9ea4b0;
  border-radius: 25px;
}

.green-dot {
  color: #8ac840;
  font-size: 18px;
}

.pin-button,
.edit-button,
.crown-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #9ea4b0;
}

.info-navigation {
  display: flex;
  justify-content: flex-start;
  color: #afb4bb;
  margin: 0 30px 0 30px;
}

.info-navigation-item {
  display: inline-block;
  margin-right: 20px;
  border: solid 4px #fff;
  height: 30px;
}

.info-navigation-item:hover {
  border-bottom: solid 4px #fd2c7a;
  cursor: pointer;
  color: #727078;
}

/*=====================================================
      Stats Formatting
=======================================================*/

.stats {
  width: 100%;
  height: 420px;
  background: #edf2f6;
  display: flex;
  justify-content: space-around;
}


/*=====================================================
      Donut Formatting
=======================================================*/

.muthafuckin-donuts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  margin-top: 50px;
}

.only-donuts {
  display: flex;
  flex-direction: row;
}

.chart-text {
  fill: #525c6c;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 8px;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: 3.6px;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}

.donut {
  height: 200px;
  display: inline-block;
}

.donut-ring {
  border-radius: 50%;
}

.donut-button-div {
  display: flex;
  justify-content: center;
}

.donut-button {
  -webkit-appearance: none;
  font-size: 14px;
  border-radius: 50px;
  padding: 10px;
  border: 2px solid #e2e5e8;
  color: #525c6c;
}

/*=====================================================
      Bar Graph Formatting
=======================================================*/

.muthafuckin-bars {
  width: 54%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.bar-graph {
  margin-left: 3%;
}

.bar-graph-image {
  width: 90%;
}

.bar-button {
  -webkit-appearance: none;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  border: 2px solid #e2e5e8;
  color: #525c6c;
  margin-bottom: 40px;
}

/*=====================================================
      In-Depth Formatting
=======================================================*/

.in-depth {
  width: 100%;
  height: 880px;
  background: #edf2f6;
  display: flex;
  justify-content: space-between;
}

.profile-description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.table-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-table {
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-header {
  background: #6e7e95;
  color: #fff;
}

.table-edit {
  background: #7a8aa5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 70px;
}

tr {
  background: #fff;
  color: #6e7e95;
  border-bottom: solid 1px #6e7e95;
}

td {
  font-size: 14px;
  
}

td:nth-child(even) {
  padding-right: 80px;
  width: 600px;
}

td:nth-child(odd) {
  font-size: 13px;
  font-weight: bold;
  padding: 23px;
  width: 150px;
}

.bio {
  vertical-align: top;
}

.bio-description {
  padding: 25px 0;
}

.lafawnduh {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.lafawnduh-td {
  display: flex;
  align-items: center;
}

.ember-rating {
  border: none;
}

/*=====================================================
      Social Formatting
=======================================================*/

.social {
  width: 40%;
  height: 100%;
  margin: 20px 40px 20px 20px;
  display: flex;
  flex-direction: column;
}


.social-button {
  -webkit-appearance: none;
  width: 100%;
  height: 45px;
  text-align: left;
  margin-bottom: 15px;
  border: none;
}

.match-div,
.mobile-div,
.contact-div {
  width: 100%;
  color: #afb4bb;
  font-size: 12px;
  border-bottom: solid 2px #6e7e95;
}

.contact-div {
  border: none;
}

.facebook-button {
  background: #496dc2;
  color: #fff;
}

.icon-facebook-squared,
.icon-twitter-circled,
.icon-instagram {
  margin-right: 45px;
}

.twitter-button {
  background: #00a8ef;
  color: #fff;
}

.instagram-button {
  background: linear-gradient(45deg, #fc9f3e, #b332a5);
  color: #fff;
}

.social-header {
  color: #727078;
  font-size: 18px;
  margin: 20px 0 10px 0;
}

.icon-heart,
.icon-mobile,
.icon-go {
  margin-right: 3px;
}

.social-text {
  padding: 0 4px;
}

.top {
  margin-bottom: 10px
}

.bottom {
  height: 45px;
  width: 70%;
  background: #fff;
  line-height: 45px;
  color: #727078;
  display: inline-block;
  padding-left: 15px;
}

.link-to-match,
.link-to-mobile {
  overflow-x: auto;
}

.bottom-different {
  width: 100%;
}

.copy-button {
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: top;
  height: 45px;
  width: 60px;
  margin-bottom: 30px;
  background: #48babe;
  border: none;
  color: #fff;
}











